body {
    font-family: Arial, sans-serif; /* Style 1: Font family for the entire page */
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url(../assets/img/otherolimpicbackground.jpg);
    
    background-position: bottom;
    color: aliceblue
}

h1 {
    color: rgb(255, 189, 61); 
    text-align: center;
    
    font-size: 50px;
    
}
h2 {
    color: #ffec00; /* Style 7: Font color for subheadings */
    font-family: Georgia, serif; /* Style 8: Font family for subheadings */
}

p {
    line-height: 1.6;
}


#header {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    text-align: center;
}


#footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    font-size: 0.8em;
    background-color: #ffffff;
}
#main {
    text-align: center;
}
#padding {
    padding-left: 225px;
}
#link {
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    text-decoration: none;
    text-align: center;
}